<h1>Department: <%= @department.name %> </h1>
<%= link_to 'Create New Item', new_department_item_path %>
<%= link_to 'Go Back', departments_path %>

<% @items.each do |item|%>
  <p><%= item.name %> </p>
  <%= link_to "Edit", edit_department_item_path(@department, item) %>
  <%= link_to "More info", department_item_path(@department, item) %>
  <%= link_to "Delete", department_item_path(@department, item), method: :delete %>
  
<% end %>
